{% extends "Admin/adminLayout.html" %} {% block title %}Add User {% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/add_forms.css" />
{% endblock %}{% block content %}
<div class="container">
  <div class="form-box">
    <h2>Add a new User</h2>
    <form method="post">
      {{ form.hidden_tag() }}
      <div class="input-group">
        {{ form.username.label }} {{ form.username }} {% if form.username.errors
        %}
        <ul class="errors">
          {% for error in form.username.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="input-group">
        {{ form.email.label }} {{ form.email }} {% if form.email.errors %}
        <ul class="errors">
          {% for error in form.email.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="input-group">
        {{ form.password.label }} {{ form.password }} {% if form.password.errors
        %}
        <ul class="errors">
          {% for error in form.password.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <button class="submit-btn">{{ form.submit }}</button>
    </form>
  </div>
</div>
{% endblock %}
