{% extends "Admin/adminLayout.html" %} {% block title %} Add questions for {{
quiz.name }} {% endblock %} {% block head %}
<link rel="stylesheet" href="/static/tables.css" />
{% endblock %} {% block content %}
<h2>Manage Questions for quiz - {{ quiz.name }}</h2>
<a
  href="{{ url_for('add_question', quiz_id=quiz.id) }}"
  class="btn btn-outline-primary"
  >Add Question</a
>
<hr />
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Question</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    {% for question in questions %}
    <tbody>
      <tr>
        <td>{{ question.id }}</td>
        <td>{{ question.question }}</td>

        <td>
          <a class="btn-outline-primary" href="/edit_question/{{ question.id }}"
            >Edit</a
          >
          <a
            class="btn-outline-danger"
            href="/delete_question/{{ question.id }}"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
