{% extends "Admin/adminLayout.html" %} {% block head %}
<link rel="stylesheet" href="/static/tables.css" />
{% endblock %} {% block content %}
<h2>Manage Chapters</h2>
<a href="/add_chapter" class="btn btn-outline-primary">Add Chapter</a>
<hr />
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for chapter in chapter %}
      <tr>
        <td>{{ chapter.id }}</td>
        <td>{{ chapter.name }}</td>
        <td>{{ chapter.description }}</td>
        <td><a href="{{ url_for('edit_chapter', id=chapter.id) }}">Edit</a></td>
        <td>
          <form
            action="{{ url_for('delete_chapter', id=chapter.id) }}"
            method="post"
          >
            <button
              class="btn btn-danger"
              onclick="return confirm('Are you sure you want to delete this Chapter?')"
            >
              Delete
            </button>
          </form>
        </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
