<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" href="static/Index.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <img
          src="https://imgs.search.brave.com/AAdZhra83x4mxqnaHNetv6lx1nco0F_yxNkIJ-Y9UzA/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA1LzU5LzU5LzMw/LzM2MF9GXzU1OTU5/MzAyMF9sY0lKOGFF/OVRZZE8wY09ocHd0/WVdQc1hMWXdPQUlB/QS5qcGc"
          alt="Logo"
        />
      </div>
      <div class="buttons">
        <button onclick="location.href = 'login'" class="btn login-btn">
          Login
        </button>
        <button onclick="location.href = 'signup'" class="btn signup-btn">
          Sign Up
        </button>
      </div>
    </nav>

    <section class="center-text">
      <h1 class="animated-text">Welcome to Quiz Website.</h1>
    </section>
  </body>
</html>
